@charset "utf-8";


body {
    width: 100%;
    margin: 0 auto;
    padding: 0
}

body .container {
    display: block;
    width: 100%;
}

body .container main {
    width: 90%;
    max-width: 1400px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

body .container main div {
    padding-top: 35px;
    padding-bottom: 35px;
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    gap: 35px;
    margin: 0 auto; 
    justify-items: center; /* ✅ 가운데 정렬 */   
}

body .container main div .image-box {
    border: 1px solid #707070;
    padding: 6px;
    width: 100%;
}

body .container main div .image-box > img {
    width: 99%;
    margin: 0 auto;
}

body .container main div .image-box > span {
    display: block;
    font-size: 13px;
    text-align: center;
    color: #272727;
    margin: 0 auto;
}

/* 푸터 부분 */

body footer {
    text-align: center;
    background-color: rgb(15, 15, 15);
    height: 70px;
}

body footer address {
    padding-top: 20px;
}


@media (max-width: 768px) {
    body .container main div {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 25px;
    }
}

