container {
    width: 70%;
    height: auto;
    display: flexbox;
    padding-left: 2%;
}

container div {
    margin-left: 20%;    
}

container div img {
    width: 35%;
    height: 35%;
    padding-top: 2%;
    padding-right: 2%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
    }
}