.main {
    flex-direction: column;
}

.profile-img {
    width: 30%;
    height: 13%;
    margin-left: 35%;
    margin-top: 3%;
}

.profile-text {
    padding-top: 3%;
    text-align: center;
    color:rgb(69, 69, 69);
    font-size: 1rem;
    /* padding-left: 5%; */
}

.profile-text b {
    font-size: 2.0rem;
}

.profile-text ul li {
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: left;
}

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
    }
}