@charset "uft-8";


body {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 0
}

body .container {
    display: block;
    width: 100%;
}

body .container main {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);

}

body .container main div {}

body .container main div img {
    max-width: 51%;
    padding-top: 1rem;
}

/* ν‘Έν„° λ¶€λ¶„ */

body footer {
    text-align: center;
    background-color: rgb(210, 216, 229);
    height: 70px;
}

body footer address {
    padding-top: 20px;
}

@media (max-width: 768px) {
    body .container {
        width: 100%;
    }

    body .container main div {
        flex-direction: column;
    }

    body .container main div img {
        max-width: 94%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

}