@charset "utf-8";
/* 버튼 컨테이너를 푸터 바로 위에 고정 */
.top-button-container {
    position: fixed;
    /* 스크롤해도 화면에 고정 */
    bottom: 80px;
    /* 푸터 위쪽 여백 조정, 푸터 높이에 따라 조절 */
    right: 20px;
    /* 화면 오른쪽 여백 */
    z-index: 700;
    /* 다른 요소 위로 올라오게 */
    cursor: pointer;
    /* 마우스 올리면 클릭 표시 */
    display: block;
    /* 처음에는 숨김, 스크롤 시 나타나게 */
    pointer-events: auto;
        /* 버튼은 클릭 가능 */
}

#topButton {
    width: 50px;
    /* 버튼 크기 조절 */
    height: 50px;
}

body {
    
    width: 100vw;
    margin: 0 auto;
    padding: 0
}

body .container {
    display: block;
    width: 100%;
}

body .container main {
    width: 100%;
    max-width: 1400px;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

body .container main div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 15px;
}

body .container main div img {
    max-width: 400px;
    width: 45%;
    padding-top: 1rem;
    margin-left : 30px;
}

body p {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 30px;
    font-weight: 300;
}

body .artist-note {
    margin-left : 30px;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
}

body .artist-note > p {
    margin-left: 0px;
    margin-right: 0px;
}





/* 푸터 부분 */

body footer {
    text-align: center;
    background-color: rgb(15, 15, 15);
    height: 70px;
}

body footer address {
    padding-top: 20px;
}

@media (max-width: 768px) {
    body .container {
        width: 100%;
    }

    body .container main div {
        flex-direction: column;
    }

    body .container main div img {
        max-width: 94%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

}